/* Mobile Styles */
@media only screen and (max-width: 960px) {
    #dates-page {
        position: absolute;
        background-color: rgba(185,204,184, 1.0);
        width: 100%;
        height: 100%;
    }

    #dates-container {
        margin: auto 0;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #dates-page {
        position: absolute;
        background-color: rgba(185,204,184, 1.0);
        width: 100%;
        z-index: 0;
        height: 100%;
    }

    #dates-container {
        margin: auto 0;
    }
}