/* Mobile Styles */
@media only screen and (max-width: 960px) {
    
        #registry-page {
            width: 100%;
            height: 100%;
            background-image: none;
            position: absolute;
            justify-content: space-around;
            align-content: center;
            display: flex;
            flex-direction: column;
            background-color: rgba(125, 81, 109, 1.0); /* Cosmic */;
        }

        .registry-container {
            background-color: rgba(185,204,184, .8);
            font-size: 3rem;
            display: flex;
            height: 10rem;
            padding: 3rem;
            border-radius: 10px;
            justify-content: space-between;
            position: relative;
            margin: 0 auto;
            margin-top: -40%;
            width:90%;
            z-index: 4;
            box-shadow: .25rem .25rem .25rem #888888;
        }

        .registry-container:hover {
            box-shadow: .5rem .5rem .5rem #888888;
        }
    
        .registry-container:active {
            box-shadow: .25rem .25rem .25rem #888888;
        }
    
        #registry-header {
            font-size: 3em;
            padding: 1em;
            margin: .5em;
            background-color: rgba(185,204,184, .8); /* Clay Ash */
        }
    
        #registry-box {
            border-style: solid;
            border-width: .15em;
            border-color: rgba(125, 81, 109, 1.0); /* Cosmic */
            background-color: rgba(185,204,184, .25);
            width: 30em;
            height: 30em;
            text-align: center;
        }  
    
        .registry-item {
            border-style: solid;
            border-width: .075em;
            border-color: rgba(125, 81, 109, 1.0); /* Cosmic */
            font-size: 2em;
            padding: 1em;
            margin: .5em;
            background-color: rgba(185,204,184, .8); /* Clay Ash */
        }
    }
    
    /* Desktop Styles */
    @media only screen and (min-width: 961px) {
        #registry-page {
            width: 100%;
            height: 100%;
            position: absolute;    
        }

        .registry-container {
            background-color: rgba(185,204,184, .8);
            font-size: 5rem;
            display: flex;
            height: 10rem;
            padding: 3rem;
            border-radius: 10px;
            justify-content: space-between;
            position: relative;
            margin: 0 auto;
            margin-top: -40%;
            width:45%;
            z-index: 4;
            box-shadow: .25rem .25rem .25rem #888888;
        }

        .registry-container:hover {
            box-shadow: .5rem .5rem .5rem #888888;
        }
    
        .registry-container:active {
            box-shadow: .25rem .25rem .25rem #888888;
        }
    
        #registry-header {
            font-size: 3em;
            padding: 1em;
            margin: .5em;
            background-color: rgba(185,204,184, .8); /* Clay Ash */
        }
    
        #registry-box {
            border-style: solid;
            border-width: .15em;
            border-color: rgba(125, 81, 109, 1.0); /* Cosmic */
            background-color: rgba(185,204,184, .25);
            width: 30em;
            height: 30em;
            text-align: center;
        }  
    
        .registry-item {
            border-style: solid;
            border-width: .075em;
            border-color: rgba(125, 81, 109, 1.0); /* Cosmic */
            font-size: 2em;
            padding: 1em;
            margin: .5em;
            background-color: rgba(185,204,184, .8); /* Clay Ash */
        }
    
    }