/* Mobile Styles */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    #attending {
        width: 80%;
        background-color: rgba(125, 81, 109, 1.0);
        margin: 0 auto;
        border-radius: 3px;
        padding: 1rem;
    }
}

/* Desktop Styles */
@media screen 
and (min-device-width: 737px) { 
    #attending {
        width: 80%;
        background-color: rgba(125, 81, 109, 1.0);
        margin: 0 auto;
        border-radius: 3px;
        padding: 1rem;
    }
}