/* Mobile Styles */
@media only screen and (max-width: 960px) {
    .events {
        box-sizing: border-box;
        margin: 0 auto;
        width: 90%;
    }

    .event-container {
        font-size: 1.5rem;
        padding: .5rem;
        color: rgba(185,204,184, 1.0);
        background-color: hsl(322, 21%, 40%);
        margin-bottom: 1rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        text-shadow: 0 1px black;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .events {
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: -50%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .event-container {
        font-size: 1.5rem;
        padding: .5rem;
        color: rgba(185,204,184, 1.0);
        background-color: hsl(322, 21%, 40%);
        margin-bottom: 1rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        text-shadow: 0 1px black;
    }
}