#links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    flex: 1;
    font-size: 1.5em;
  }

/* Mobile Styles */
@media only screen and (max-width: 960px) {
    #links {
        margin-top: 1rem;
        margin-left: -175px;
        box-sizing: border-box;
        display: block;
    }
    .menu-link {
        margin-left: 10px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #links {
        margin-top: .4em;
        margin-right: .9em;
    }
}