

.error {
    font-family: 'Open Sans', sans-serif;
    color: #CC0000;
}

/* Mobile Styles */
@media only screen 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    #rsvp-form {
        background-color: #B9CCB8;
        width: 100%;
    }

    #initial-form {
        padding: 3rem;
        background-color: #B9CCB8;
        align-items: center;
    }

    .headers {
        display: block;
        width: 20rem;
        font-size: 3rem;
        margin: 0 auto;
    }

    .input-field {
        display: inline-flex;
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        z-index: 1;
        margin: auto auto;
        margin-bottom: 2em;
    }

    #login-helper {
        display: block;
        margin: 0 auto;
        font-size: 1.25rem;
        color: #B9CCB8;
        background: #7D516D;
        width: 18rem;
        text-align: center;
        padding: .5rem;
        border-radius: 10px;
        margin-top: -10px;
        z-index: -2;
        font-size: .75rem;
    }

    #submit{
        background:none;
        border:none;
        font-size:1em;
      }

    .bnext {
        background-color: #B9CCB8;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        margin-right: 0;
        font-size: 1.25rem;
        width: 20rem;
        text-align: center;
        padding: .5rem;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 1rem;
    }
    #submit{
        box-shadow: .25rem .25rem .25rem #888888;
        height: 3rem;
        background:#7D516D;
        color:#B9CCB8;
        border:none;
        font-size:1em;
    }

    #submit:hover {
        box-shadow: .5rem .5rem .5rem #888888;
    }

    #submit:active {
        box-shadow: .25rem .25rem .25rem #888888;
    }

    #attending-check {
        background-color: #B9CCB8;
        align-items: center;
    }

    #song-box {
        background: #7D516D;
        width: 80%;
        margin: 0 auto;
        margin-top: 25%;
        margin-bottom: 25%;
        padding: 1rem;
    }

    #done {
        background-color: #B9CCB8;
        margin-right: 0;
        margin-left: auto;
        width: 9rem;
        padding: .25rem;
    }
}

/* Desktop Styles */
@media screen 
and (min-device-width: 737px) { 
    #rsvp-form {
        position: relative;
        margin: 0 auto;
        margin-top: -40rem;
        width: 80%;
        z-index: 5;
    }

    #initial-form {
        padding: 3rem;
        background-color: #B9CCB8;
        width: 80%;
        margin: 0 auto;
        align-items: center;
    }

    .headers {
        display: block;
        width: 20rem;
        font-size: 3rem;
        margin: 0 auto;
    }

    .input-field {
        display: inline-flex;
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        z-index: 1;
        margin: auto auto;
    }

    .form-label {
        font-size: 2.5rem;
    }

    #login-helper {
        display: block;
        margin: 0 auto;
        font-size: 1.5rem;
        color: #B9CCB8;
        background: #7D516D;
        width: 25rem;
        text-align: center;
        padding: .5rem;
        border-radius: 10px;
        margin-top: -10px;
        z-index: -2;
    }

    .bnext {
        background-color: #B9CCB8;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        margin-right: 0;
        font-size: 1.25rem;
        width: 20rem;
        text-align: center;
        padding: .5rem;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 1rem;
        box-shadow: .25rem .25rem .25rem #888888;
    }

    .bnext:hover {
        box-shadow: .5rem .5rem .5rem #888888;
    }

    .bnext:active {
        box-shadow: .25rem .25rem .25rem #888888;
    }

    #attending-check {
        background-color: #B9CCB8;
        align-items: center;
        margin-top: -45rem;
    }

    #submit{
        box-shadow: .25rem .25rem .25rem #888888;
        height: 3rem;
        background:#7D516D;
        color:#B9CCB8;
        border:none;
        font-size:1em;
    }

    #submit:hover {
        box-shadow: .5rem .5rem .5rem #888888;
    }

    #submit:active {
        box-shadow: .25rem .25rem .25rem #888888;
    }

    #song-box {
        background: #7D516D;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25%;
        padding: 1rem;
    }

    #done {
        background-color: #B9CCB8;
        margin-right: 0;
        margin-left: auto;
        width: 9rem;
        padding: .25rem;
    }
}