/* Mobile Styles */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .two-options {
        display: flex;
        flex-direction: column;
    }
    
    .two-cell-center {
        background-color: #fff;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        border-radius: 100%;
    }
    
    .two-cell.Steak,
    .two-cell.Salmon,
    .two-cell.Carrot.Cake,
    .two-cell.Chocolate.Cake {

    }
    
    .two-cell.Steak:hover,
    .two-cell.Salmon:hover,
    .two-cell.Carrot.Cake:hover,
    .two-cell.Chocolate.Cake:hover {
    }
    
    .two-cell.Steak.active,
    .two-cell.Salmon.active,
    .two-cell.Carrot.active,
    .two-cell.Chocolate.Cake.active {

    }
    
    .two-cell.Steak.not-active,
    .two-cell.Salmon.not-active,
    .two-cell.Carrot.not-active,
    .two-cell.Chocolate.Cake.not-active {

    }

}

/* Desktop Styles */
@media screen 
and (min-device-width: 737px) { 
    .two-options {
        display: flex;
        flex-direction: column;
    }
    .two-cell {
        padding: .25rem;
        font-size: 2rem;
        box-shadow: .25rem .25rem .25rem #888888;
    }

    .two-cell:hover{
        box-shadow: .5rem .5rem .5rem #888888;
    }

    .two-cell:active {
        box-shadow: .1rem .1rem .1rem #888888;
    }

    .two-options:hover {
        cursor: pointer;
        cursor: hand;
    }

    .two-options:active {
        cursor: pointer;
        cursor: hand;
    }
    
    .two-cell-center {
        background-color: #fff;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        border-radius: 100%;
    }
    
    .two-cell.Steak,
    .two-cell.Salmon,
    .two-cell.Carrot.Cake,
    .two-cell.Chocolate.Cake {

    }
    
    .two-cell.Steak:hover,
    .two-cell.Salmon:hover,
    .two-cell.Carrot.Cake:hover,
    .two-cell.Chocolate.Cake:hover {
    }
    
    .two-cell.Steak.active,
    .two-cell.Salmon.active,
    .two-cell.Carrot.active,
    .two-cell.Chocolate.Cake.active {

    }
    
    .two-cell.Steak.not-active,
    .two-cell.Salmon.not-active,
    .two-cell.Carrot.not-active,
    .two-cell.Chocolate.Cake.not-active {

    }
}